@tailwind base;
@tailwind components;
@tailwind utilities;

/* * { */
/*   outline: 1px solid #f00 !important; */
/* } */

* {
  @apply subpixel-antialiased;
}

/* 
Generic Styling, for Desktops/Laptops 
*/
table {
  width: 100%;
  border-collapse: collapse;
}
/* Zebra striping */
tr {
  background: #888;
}
tr:nth-of-type(odd) {
  background: #eee;
}
th {
  background: #333;
  color: white;
  font-weight: bold;
}
td,
th {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: left;
}

.responsiveTable {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 4em;
}

.responsiveTable td .tdBefore {
  display: none;
}

@media only screen and (max-width: 768px),
  (min-device-width: 768px) and (max-device-width: 1024px) {
  /*
    Force table elements to not behave like tables anymore
    Hide table headers (but not display: none;, for accessibility)
  */

  .responsiveTable table,
  .responsiveTable thead,
  .responsiveTable tbody,
  .responsiveTable th,
  .responsiveTable td,
  .responsiveTable tr {
    display: block;
  }

  .responsiveTable thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
    border-bottom: 2px solid #333;
  }

  .responsiveTable tbody tr {
    border: 1px solid #000;
    padding: 0.25em;
  }

  .responsiveTable td.pivoted {
    /* Behave like a "row" */
    border: none !important;
    position: relative;
    padding-left: calc(50% + 10px) !important;
    text-align: left !important;
    white-space: pre-wrap;
    overflow-wrap: break-word;
  }

  .responsiveTable td .tdBefore {
    /* Now like a table header */
    position: absolute;
    display: block;

    /* Top/left values mimic padding */
    left: 1rem;
    width: calc(50% - 20px);
    white-space: pre-wrap;
    overflow-wrap: break-word;
    text-align: left !important;
    font-weight: 600;
  }
}

h1 {
  @apply mb-3 mt-1 text-center text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl;
}

select {
  @apply block w-full rounded-lg border border-gray-600 bg-gray-700  p-2.5 text-sm text-white placeholder-gray-400 ring-blue-500;
}

.pagination {
  @apply mt-4 flex flex-row gap-1;
}

.pagination button {
  @apply btn btn-blue;
}
.pagination select {
  @apply w-min bg-blue-500;
}

input[type='text'],
input[type='number'] {
  @apply rounded-md bg-gray-300 text-black;
}

input[type='date'] {
  @apply border-black;
}
/* h2 { */
/*   @apply */
/* } */

/*
================
MODAL HOC
================
*/

.d-block {
  display: block;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.d-none {
  display: none;
}
.modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.modal-container {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 75%; /* Could be more or less, depending on screen size */
}

.modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.modal-close:hover,
.mdoal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
/*
================
MODAL HOC
================
*/

/* .formik-input-container {
  @apply flex flex-col;
} */

/* .formik-input-container input {
  @apply w-full border border-black py-2 px-2;
} */
/* .formik-input-container label {
  @apply mb-2 block text-lg font-medium text-gray-900;
}

.formik-input-container input {
  @apply w-full appearance-none rounded border py-2 px-3 leading-tight text-gray-700 shadow focus:shadow-md focus:outline-none;
} */

.form-error {
  @apply text-red-600;
}

.btn {
  @apply rounded py-2 px-2 font-bold;
}
.btn-blue {
  @apply bg-blue-500 text-white active:bg-blue-700;
}
.btn-blue:hover {
  @apply bg-blue-700;
}

/* button {
  @apply btn btn-blue;
} */

.form-button {
  @apply btn bg-blue-700 text-white;
}

/* SIDEBAR */
.sidebar-link {
  @apply flex cursor-pointer items-center p-2;
}
