html,
body {
  height: 100vh;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/*
===============
Variables
===============
*/

:root {
  --clr-primary: #2680c0;
  --clr-primary-dark: hsl(205, 100%, 21%);
  --clr-primary-light: hsl(205, 84%, 74%);
  --clr-grey-1: #102a42;
  --clr-grey-5: #617d98;
  --clr-grey-10: #f1f5f8;
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.25rem;
  --large-screen-width: 1170px;
  --small-screen-width: 90vw;
  --fixed-width: 50rem;
  --accent-color: rgb(204, 0, 0);
  --lightest-gray: rgb(244, 244, 244);
  --light-gray: rgb(144, 144, 144);
  --medium-gray: rgb(96, 96, 96);
  --dark-gray: rgb(13, 13, 13);
  --header-height: 40px;
  --animation-duration: 200ms;
  --animation-timing-curve: ease-in-out;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
  background: var(--clr-grey-10);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}
a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
}
/* @media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
} */

img {
  max-width: 100%;
  max-height: 100%;
}
/* more global css */
.btn-31 {
  background-color: rgb(0, 0, 0);
  border-radius: 4px;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: 'Farfetch Basis', 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
  max-width: none;
  min-height: 44px;
  min-width: 10px;
  outline: none;
  overflow: hidden;
  padding: 9px 20px 8px;
  position: relative;
  text-align: center;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
}

.btn-31:hover,
.btn-31:focus {
  opacity: 0.75;
}
.btn {
  text-transform: uppercase;
  background: var(--clr-primary);
  color: var(--clr-white);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  font-weight: 700;
  transition: var(--transition);
  font-size: 0.875rem;
  border: none;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
.btn:hover {
  color: var(--clr-primary);
  background: var(--clr-primary-light);
}
table,
th,
td {
  border: 1px solid black;
}

td {
  text-align: center;
}
ul {
  list-style-type: none;
}
/*
===============
multi-page styles
===============
*/
.page-title {
  text-align: center;
  padding-bottom: 40px;
}

/* #__next {
  height: 100vh;
} */

/*
===============
LAYOUT
===============
*/
.layout-dashboard {
  display: grid;
  width: 100%;
  height: 100vh;
  grid-template-areas:
    'header header'
    'sidebar main';
  gap: 0px 0px;
  grid-template-rows: max-content 11fr;
  grid-template-columns: max-content 11fr;
  overflow-y: hidden;
}
.main-content {
  background-color: white;
  margin: 0;
  padding: 50px;
  grid-area: main;
  overflow-y: scroll;
}

/* .main-content > * {
  grid-area: main;
} */

/*
===============
LAYOUT
===============
*/

/*
===============
Sidebar (handles layout with children as main content on page)
===============
*/
/* .page-layout {
  display: grid;
  grid-template-columns: min-content max-content;
} */

.page-layout {
  display: flex;
  flex-direction: column;
  /* overflow-y: hidden; */
  /* height: calc(100% - var(--header-height)); */
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* position: sticky; */
  top: 0;
  background-color: black;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.4);
  padding: 0 0.5rem;
  height: var(--header-height);
  /* width: 100%; */
  grid-area: header;
}

.header-user-info {
  color: white;
}

/* .header-user-info > button {
  margin: 5px;
} */

/* container for sidebar toggle button */
.sidebar-toggle-btn {
  background: none;
  border: none;
  /* padding: 1em; */
  padding-left: 1em;
  text-align: left;
  font-size: 1.6rem;
  color: white;
}

.menu-icon {
  width: 1em;
  height: 1em;
  fill: var(--medium-gray);
  cursor: pointer;
  /* font-size: 1.6rem; */
}

/* container for sidebar links icon containter */
.sidebar-link-icon {
  font-size: 1.6rem;
  padding-right: 0.4em;
  color: #2680c0;
  padding-left: 1em;
  /* width: 25px;
  height: 25px; */
}
/* .menu-icon:hover {
  fill: var(--dark-gray);
} */

.sidebar {
  /* height: calc(100vh - var(--header-height)); */
  width: 200px; /* 0 width - change this with JavaScript */
  /* position: sticky; */
  /* top: var(--header-height); */
  /* left: 0; */
  border-right: 1px solid black;
  background-color: black; /* Black*/
  overflow: hidden; /* Disable horizontal scroll */
  /* Place content 60px from the top */
  /* transition: 0.7s ease-in-out;  */
  /* text-align: center; */
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  /* grid-column: 1; */
  grid-area: sidebar;
}
.sidebar-list {
  padding-top: 45px;
}
.nav-listitem {
  /* fill: var(--accent-color); */
  /* background-color: black; */
}
.nav-listitem:hover {
  background-color: var(--clr-grey-1);
}

.sidebar-link {
  display: flex;
  width: 100%;
  /* padding: 0.5rem 0; */
  color: var(--light-gray);
  text-decoration: none;
  align-items: center;
  /* padding-left: 1em; */
  padding-top: 0.5em;
}

.nav-listitem:hover .sidebar-link-title {
  color: white;
}

.sidebar-link-title {
  font-size: 1.1rem;
  transition: 0.7s ease-out;
}

/*-------- sidebar collapsed -------*/

.sidebar.collapsed {
  width: 75px;
}
.sidebar.collapsed .sidebar-link-title {
  display: none;
}
/*
===============
Account info
===============
*/
.BCFD {
  display: flex;
  flex-direction: column;
}
.accountPage {
  display: flex;
  flex-direction: column;
}
.accInfotable {
  /* width: 100vw; */
}

/*
================
Customer Manager
================
*/

.customer-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.customer-search {
  /* display: flex;
  flex-direction: row; */
}
.customer-search-label {
  display: flex;
  flex-direction: row;
}

.add-customer-btn {
  width: 25%;
}
/*
================
MODAL HOC
================
*/

.d-block {
  display: block;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.d-none {
  display: none;
}
.modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.modal-container {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 75%; /* Could be more or less, depending on screen size */
}

.modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.modal-close:hover,
.mdoal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
/*
================
MODAL HOC
================
*/

/*
================
Home page
================
*/
.home-container {
  height: 100vh;
  background-color: hsl(34, 75%, 45%);
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.home-header {
  display: flex;
  /* align-content: center; */
  align-items: center;
  /* justify-content: center; */
  /* position: sticky; */
  top: 0;
  background-color: black;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.4);
  padding: 0 0.5rem;
  height: 5vh;
}
.home-header span {
  color: white;
}
.home-h1 {
  text-align: center;
  height: 10vh;
  margin: 0;
}
.home-no-session {
  display: flex;
  align-content: center;
  justify-content: center;
  gap: 1em;
}

.homeLayout {
  width: 100%;
  flex-direction: column;
}

.homeHeader {
  background-color: blue;
  outline-color: green;
  justify-content: center;
  align-content: center;
  height: 45px;
}

.headerTitle {
  color: black;
}

.forms {
  justify-content: center;
  align-content: center;
  align-content: flex-end;
}

.loginform {
  padding: 15%;
}
/*
===============
signin page
===============
*/
/* input[type='text'] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
} */
/* input[type='email'] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type='password'] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
} */
.signin-page-container {
  display: flex;
  height: 100vh;
  background-color: white;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.signin-form {
  display: flex;
  flex-direction: column;
  background-color: white;
}

.form-input-container {
}

.test {
  color: black;
}
.form-error {
  color: red;
}
/*
===============
signin page
===============
*/
/*
===============
Cart
===============
*/
.cart {
  min-height: calc(100vh - 420px);
  width: 90vw;
  margin: 0 auto;
  margin-top: 40px;
  padding: 2.5rem 0;
  max-width: var(--fixed-width);
}
.cart h2 {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 3rem;
}
.empty-cart {
  text-transform: lowercase;
  color: var(--clr-grey-5);
  margin-top: 1rem;
  text-align: center;
}
.cart footer {
  margin-top: 4rem;
  text-align: center;
}
.cart-total h4 {
  text-transform: capitalize;
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}
.clear-btn {
  background: transparent;
  padding: 0.5rem 1rem;
  color: var(--clr-red-dark);
  border: 1px solid var(--clr-red-dark);
  margin-top: 2.25rem;
  border-radius: var(--radius);
}
.clear-btn:hover {
  background: var(--clr-red-light);
  color: var(--clr-red-dark);
  border-color: var(--clr-red-light);
}
/*
===============
Cart Item
===============
*/
.cart-item {
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr auto;
  grid-column-gap: 1.5rem;
  margin: 1.5rem 0;
}
.cart-item img {
  width: 5rem;
  height: 5rem;
  object-fit: cover;
}
.cart-item h4 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  letter-spacing: 2px;
}
.item-price {
  color: var(--clr-grey-5);
}
.remove-btn {
  color: var(--clr-primary);
  letter-spacing: var(--spacing);
  cursor: pointer;
  font-size: 0.85rem;
  background: transparent;
  border: none;
  margin-top: 0.375rem;
  transition: var(--transition);
}
.remove-btn:hover {
  color: var(--clr-primary-light);
}
.amount-btn {
  width: 1.5rem;
  background: transparent;
  border: none;
  cursor: pointer;
}
.amount-btn svg {
  fill: var(--clr-primary);
}
.amount-btn:hover svg {
  fill: var(--clr-primary-light);
}
.amount {
  text-align: center;
  margin-bottom: 0;
  font-size: 1.25rem;
  line-height: 1;
}
hr {
  background: var(--clr-grey-5);
  border-color: transparent;
  border-width: 0.25px;
}

/* Custom */
.container-fluid {
  padding: 0;
}
.mainApp {
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
}

/*
======
Delivery Information / SenderForm.jsx
======
*/
.contactForm {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border: 3px solid rgb(0, 0, 0);
  padding: 20px;
}

.senderForm {
  order: 1;
  margin: 0px;
}
.recieverForm {
  order: 2;
  margin: 0px;
}

/*
======
Item
======
 */
.itemBox {
  margin: 1em;
  background-color: wheat;
  display: grid;
  grid-template-areas:
    'image'
    'label'
    'submitButton';
}
.itemImage {
  grid-area: image;
}

.labelItemCount {
  grid-area: label;
}
.itemCount {
  grid-area: count;
}

.itemSubmitButton {
  grid-area: submitButton;
}
/*
======
Items List
======
 */
.items-section {
  flex: 9;
}
.itemsList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

/*
===============
Administration page
===============
*/
.administration-container {
  /* width: 100%; */
  /* position: relative; */
  display: flex;
  flex-direction: column;
  justify-items: center;
  grid-area: main;
}

.administration-container h1 {
  text-align: center;
}

.administration-container .btn {
  width: 35%;
}

.product-manager-container {
  border: 1px solid black;
  height: max-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* .product-manager-container div table {
  justify-content: center;
} */

/*
===============
Administation page
===============
*/

/*
===============
Driver Account PAge
===============
*/
.driverAccountPage {
  grid-area: main;
}
/*
===============
Driver Account PAge
===============
*/

.invoice-details-container {
  grid-area: main;
}

.main-grid-area {
  grid-area: main;
}

/*
===============
Orderform senderFormAdmin
===============
*/

.orderform {
  /* display: flex;
  flex-direction: column; */
}

.orderform-shipper-reciever-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/*
===============
Orderform senderFormAdmin
===============
*/
