/*
===============
Sidebar (handles layout with children as main content on page)s
===============
*/
.page-layout {
  display: grid;
  grid-template-columns: min-content max-content;
}

.main-content {
  width: max-content;
  margin: 0;
  padding: 50px;
  grid-column: 3;
}

.sidebar {
  height: 100vh; /* cant use 100% Full-height, because root div has no styling for height */
  width: 14vw; /* 0 width - change this with JavaScript */
  position: relative; /* Stay in place */
  top: 0;
  left: 0;
  background-color: #e7e8e9; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  /* Place content 60px from the top */
  transition: 0.7s ease-in-out; /* 0.5 second transition effect to slide in the sidebar */
  text-align: center;
  display: flex;
  flex-direction: column;
  grid-column: 1;
}

.sidebar-header {
  display: flex;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 50px;
}

.sidebar-logo-container {
  margin: 0 auto;
}

.sidebar-toggle {
  transition: 0.3s;
}
.sidebar-toggle-off {
  display: none;
}
.backup-logo {
  margin: 0 auto;
}

/* ul */
.sidebar-links {
}
.nav-text {
  cursor: pointer;
}
.nav-text a {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  transition: 0.7s;
}

/* li span */
.nav-text span {
  color: red;
  transition-timing-function: ease-in;
}

/*-------- sidebar collapsed -------*/
.sidebar-collapsed {
  height: 100vh; /* cant use 100% Full-height, because root div has no styling for height */
  width: 7vw; /* 0 width - change this with JavaScript */
  position: relative; /* Stay in place */
  top: 0;
  left: 0;
  background-color: #e7e8e9; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  /* Place content 60px from the top */
  transition: 0.4s; /* 0.5 second transition effect to slide in the sidebar */
  text-align: center;
  display: flex;
  flex-direction: column;
  grid-column: 1;
}
.sidebar-collapsed .sidebar-link-icon {
  margin-right: 0;
  font-size: 1.3em;
  transition: 0.2s;
}

.sidebar-collapsed .sidebar-link-title {
  display: none;
  transition: 0.2s;
}

.sidebar-collapsed .sidebar-header {
  padding-bottom: 75px;
}
